.topbar__coins{
    display: flex;
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 5px;
    min-width: 96px;
    min-height: 24px;
    align-items: center;
    margin-top: 24px;
    margin-left: 10px;
}
.topbar__coins:first-of-type{
    margin-left: auto;
}

@media screen and (max-width:1280px) {
    .topbar__coins{
        margin-left: 10px;
    }
    .topbar__coins:first-of-type{
        margin-left:120px;
    }
}