.topbar {
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  left: 280px;
  top: 0;
  z-index: 5;
  background-color: rgb(46, 47, 61);
  border-bottom: 1px solid rgba(216, 216, 216, 0.1); 
  padding: 0 55px 9px;
  box-sizing: border-box;
  border: 1px solid red;
}
@media screen and (max-width:768px) {
  .topbar{
    position: sticky;
    left: 0;
    top: 0;
  }
}
