.leftbar__list-item-lecture{
    list-style: none;
    display: flex;
    align-items: center;
    height: 40px;
    cursor: pointer;
    transition: .5s;
}
.leftbar__list-item-lecture:checked{
    border-left: 3px solid rgba(111, 110, 255, 0.5);
}
.leftbar__list-item-lecture:hover{
    opacity: .5;
}