.weekly-quests__item{
    max-width: 255px;
    height: 294px;
    position: relative;
    background-color: rgb(56, 57, 70);
    border-radius: 6px;
    margin-left: 10px;
}
.weekly-quests__item:first-of-type{
    margin-left: 0;
}
