.root {
  max-width: 1440px;
  display: flex;
  font-family:'Jost', Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, rgb(47, 48, 61) 0%, rgba(49, 50, 54, 0.727) 100%);
  mix-blend-mode: normal;
}
