.weekly-quests__items{
    max-width: 1160px;
    display: flex;
    overflow: hidden;
    position: relative;
    margin-bottom: 60px;
}
@media screen and (max-width:768px) {
    .weekly-quests__items{
        flex-wrap: wrap;
       
    }
}
